<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Smile House</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/assets/css/login.css">
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>

    <header>
        <div class="container">
            <i class="fas fa-store-alt"></i>
        </div>
        <div class="name">
            <h2>SmileHouse</h2>
        </div>
    </header>
    <div>
        <h1>Đăng nhập</h1>
        <div class="social-container">
            <button id="Button" type="button" onclick="login()">Nhân viên</button>
            <button id="Button" type="button" onclick="login()">Quản trị viên</button>
        </div>
        <form action="/login" method="post">
            <div class="form-container sign-in-container px-0">
                {{#if message}}
                <div class="form-group col-md-12 mx-auto text-center px-0">
                    <div class="alert alert-danger" role="alert" id="message">{{message}}</div>
                </div>
                {{/if}}
                {{!-- <span>Tên tài khoản</span>
                <input type="text" name="username" placeholder="Tài khoản" />
                <span>Mật khẩu</span>
                <input type="password" name="password" placeholder="Mật khẩu" /> --}}
                <div class="form-group col-md-12">
                    <label for="username">Tên tài khoản</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Tài khoản"
                        required>
                </div>
                <div class="form-group col-md-12">
                    <label for="password">Mật khẩu</label>
                    <input type="text" class="form-control" id="password" name="password" placeholder="Mật khẩu"
                        required>
                </div>
                <div class="form-group mx-auto text-center">
                    <a href="/home"><button type="submit">Xác nhận</button></a>
                </div>
            </div>

        </form>

    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/js/drawChart.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>

</html>